/* Default Styles */
.tariff-form {
  margin-top: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; 
  padding: 30px;
  border-radius: 20px;
  border: 5px solid #B94A70;
}

.tariff-form h3 {
  font-size: 2.2rem; /* Увеличен шрифт для заголовка */
  margin-bottom: 25px;
  color: #000000; 
  text-align: center;
}

.tariff-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tariff-form input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin-bottom: 5px; /* Минимум пространства между полем и ошибкой */
  border-radius: 12px; /* Более округлые края */
  border: 2px solid #B94A70; /* Серый оттенок для рамки */
  background-color: #FFE6EB;
  color: #000000;
  font-size: 1.1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Тени для полей */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.tariff-form input:focus {
  border-color: #B94A70; /* Яркий акцент при фокусе */
  box-shadow: 0 4px 10px #B94A70; /* Дополнительная тень при фокусе */
  outline: none;
}

/* Стили для placeholder */
.tariff-form input::placeholder {
  color: #B94A70; /* Замените на любой цвет, который хотите для placeholder */
  opacity: 0.7; /* Регулируйте непрозрачность, чтобы сделать текст тусклее */
}

/* Убираем голубой фон при автозаполнении */
.tariff-form input:-webkit-autofill {
  background-color: #FFE6EB !important; /* Цвет фона как у обычного состояния */
  color: #000000 !important;
  -webkit-box-shadow: 0 0 0 30px #FFE6EB inset; /* Подстраиваем тень для совпадения с цветом фона */
  -webkit-text-fill-color: #000000 !important;
}

.error {
  color: #C3073F; /* Красный цвет для ошибок */
  font-size: 0.85rem;
  margin-top: 5px;
  text-align: center;
}

.contact-title {
  color: #000000;
  margin-bottom: 15px;
  font-size: 1.3rem; /* Чуть увеличен размер шрифта */
  text-align: center;
}

.contact-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 5px 0; /* Увеличено пространство */
  width: 100%; /* Контакты занимают ширину формы */
}

.contact-option {
  background-color: #B94A70;
  color: #000;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 1.1rem; /* Чуть увеличен шрифт */
  cursor: pointer;
  border: 2px solid #B94A70; /* Тёмно-красный оттенок */
  display: flex;
  align-items: center;
  justify-content: center; /* Центрирование иконок */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px B94A70; /* Добавлены тени к кнопкам */
}

.contact-option.selected {
  background-color: #DF7285; /* Темно-красный фон для выделенных опций */
  color: #fff;
}

.contact-option .icon {
  margin-right: 10px;
}

.tariff-form button {
  padding: 15px 30px; /* Увеличен padding для кнопки */
  border: none;
  border-radius: 50px;
  background-color: #B94A70; /* Яркий красный оттенок для кнопки */
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(195, 7, 63, 0.3); /* Тень у кнопки */
}

.button:hover {
  background-color: #950740; /* Темный красный оттенок при наведении */
  box-shadow: 0 6px 16px rgba(149, 7, 64, 0.5); /* Тени при наведении */
}

/* Изменение цвета кнопки при нажатии */
.tariff-form button:active {
  background-color: #6F2232; /* Темно-красный оттенок при нажатии */
  box-shadow: 0 2px 8px rgba(110, 34, 50, 0.5); /* Тени при нажатии */
}


.policy-info {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #000;
  text-align: center;
}

.section-divider {
  margin-top: 40px;
  border-top: 1px solid #4E4E50;
}

.success-message {
  color: #000000; /* Зеленый цвет для отображения успешного сообщения */
  background-color: #FFE6EB; /* Темный фон для соответствия общему дизайну */
  padding: 15px;
  border-radius: 12px;
  border: 3px solid #B94A70;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 400px; /* Максимальная ширина сообщения */
  margin: 20px auto; /* Центрирование сообщения */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Добавление тени для выделения */
  transition: all 0.3s ease;
}

.error-message {
  color: #C3073F; /* Красный цвет для отображения сообщения об ошибке */
  background-color: #333; /* Темный фон для соответствия общему дизайну */
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  max-width: 400px; /* Максимальная ширина сообщения */
  margin: 20px auto; /* Центрирование сообщения */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Добавление тени для выделения */
  transition: all 0.3s ease;
}

