.about-us {
  padding: 45px 20px;
  background-color: #FFFFFF; /* Использован тёмный оттенок для фона */
  text-align: center;
}

.about-us-container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-us-intro {
  margin-bottom: 40px;
}

.about-us-intro h2 {
  font-size: 3rem;
  color: #B94A70; /* Светлый оттенок для заголовка */
}

.about-us-intro p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #000000; /* Яркий красный оттенок для текста */
  max-width: 800px;
  margin: 0 auto;
}

.advantages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantage1 {
  flex: 1 1 30%;
  margin: 20px;
  padding: 30px;
  background-color: #B94A70; /* Использован серый оттенок для карточек */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
}

.advantage1 img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.advantage1 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFFFFF; /* Насыщенный красный оттенок для заголовков карточек */
}

.advantage1 p {
  font-size: 1.1rem;
  color: #FFFFFF; /* Светлый оттенок для текста */
}

.advantage2 {
  flex: 1 1 30%;
  margin: 20px;
  padding: 30px;
  background-color: #B94A70; /* Использован серый оттенок для карточек */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
}

.advantage2 img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.advantage2 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFFFFF; /* Насыщенный красный оттенок для заголовков карточек */
}

.advantage2 p {
  font-size: 1.1rem;
  color: #E4E4E4; /* Светлый оттенок для текста */
}

.advantage3 {
  flex: 1 1 30%;
  margin: 20px;
  padding: 30px;
  background-color: #DF7285; /* Использован серый оттенок для карточек */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
}

.advantage3 img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.advantage3 h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFFFFF; /* Насыщенный красный оттенок для заголовков карточек */
}

.advantage3 p {
  font-size: 1.1rem;
  color: #E4E4E4; /* Светлый оттенок для текста */
}