nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #B94A70;
  color: white;
  position: relative;
}

.navbar-logo {
  height: 80px;
  max-width: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
  margin-left: 1rem; 
}

.menu {
  display: none;
  cursor: pointer;
  margin-right: 1rem; 
}

.menu span {
  display: block;
  height: 0.4rem;
  width: 2.25rem;
  background-color: #fff;
  border-radius: 0.2rem;
  margin: 0.3rem 0;
  transition: all 0.3s ease;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; 
}

nav ul li {
  margin: 0 0.5rem;
}

nav ul li button,
.navbar-contact {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #FFFFFF;
  padding: 0.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.navbar-contact {
  background-color: #DF7285;
  border-radius: 20px;
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.navbar-contact:hover,
nav ul li button:hover {
  color: #e5e5e5;
}

@media (max-width: 1024px) {
  .navbar-logo {
    margin-left: 1rem; 
  }

  .menu {
    display: block;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #B94A70;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    margin: 0.4rem 0;
    width: 100%;
    text-align: center;
  }

  .navbar-contact {
    margin-top: 1rem;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar-contact {
    max-width: 80%;
    font-size: 0.9rem; 
    padding: 8px 16px; 
  }
}

@media (max-width: 480px) {
  .navbar-contact {
    max-width: 70%;
    font-size: 0.8rem; 
    padding: 6px 12px; 
  }
}
