.contacts {
    background-color: #FFFFFF;
    color: #E4E4E4;
    padding: 10px 20px;
    text-align: center;
  }
  
  .contacts-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contacts h2 {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .contacts ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contacts ul li {
    font-size: 1.3rem;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .contacts ul li a {
    color: #B94A70;
    text-decoration: none;
  }
  
  .contacts ul li a:hover {
    text-decoration: underline;
  }

  .business-info {
    margin-top: 30px;
    font-size: 0.9rem;
    color: #000000;
  }
  
  .business-info p {
    margin: 5px 0;
  }
  
  .privacy-policy {
    color: #B94A70;
    text-decoration: none;
  }
  
  .privacy-policy:hover {
    text-decoration: underline;
  }
  