/* Основной стиль тарифов */
.tariffs {
  padding: 40px 20px;
  background-color: #FFFFFF;
  text-align: center;
}

.tariffs h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #B94A70;
}

/* Стили для контейнера кнопок выбора предметов */
.subject-buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Отступы между кнопками */
  margin-bottom: 30px; /* Отступ между кнопками и карточками тарифов */
}

/* Стили для кнопок выбора предметов */
.subject-button {
  width: 150px; /* Фиксированная ширина для одинакового размера кнопок */
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center; /* Центрирование текста */
  border: 2px solid #B94A70;
  border-radius: 20px;
  background-color: #FFE6EB;
  color: #B94A70;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Стили для активной кнопки */
.subject-button.active {
  background-color: #B94A70;
  color: #FFFFFF;
}

/* Стили для кнопки при наведении */
.subject-button:hover {
  background-color: #DF7285;
  color: #FFFFFF;
}


.tariff-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Тариф "Я САМ" */
.tariff-card {
  background-color: #FFE6EB; /* Использован серый оттенок для фона карточки */
  border-radius: 15px;
  border: 5px solid #B94A70;
  padding: 30px;
  width: 320px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tariff-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.tariff-card h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #B94A70; /* Яркий красный оттенок для заголовка */
}

.tariff-card.premium h3 {
  color: #FFD700; /* Золотой цвет для премиум тарифа */
}

.tariff-card ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.tariff-card ul li {
  margin-bottom: 15px;
  color: #000000; /* Светлый цвет для текста */
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  flex-wrap: nowrap; /* Отключает перенос текста */
}

.tariff-card ul li .check-icon.basic {
  color: #B94A70; /* Насыщенный оттенок для иконок галочек базового тарифа */
  margin-right: 10px;
}

.tariff-card ul li .check-icon.premium {
  color: #FFD700; /* Золотой цвет для иконок галочек премиум тарифа */
  margin-right: 10px;
}

.bonus {
  color: #FFD700; /* Золотой цвет для бонусов */
}

.tariff-card .price {
  margin-bottom: 30px;
}

.tariff-card .price p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.old-price {
  text-decoration: line-through;
  color: #000000;
}

/* Кнопки */
.tariff-card .pay-button,
.tariff-card .pay-button.full {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.details-button {
  background-color: transparent; /* Убирает фон */
  text-decoration: underline;
  color: #000000; /* Устанавливает белый цвет текста */
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.tariff-card .pay-button { 
  background-color: #DF7285; /* Темно-красный оттенок для базовой кнопки */
  color: #fff;
  border: 2px solid #DF7285;
}

.tariff-card .pay-button:hover {
  background-color: #DF7285; /* Темно-красный оттенок для базовой кнопки */
}

.tariff-card .pay-button.full {
  background-color: #B94A70; /* Яркий красный оттенок для полной оплаты */
  color: #fff;
  box-shadow: 0 0 15px #B94A70; /* Привлекательная тень */
  border: 2px solid #B94A70;
}

.pay-button.full:hover {
  box-shadow: 0 0 20px #B94A70; /* Привлекательная тень */
}

/* Желтые кнопки в тарифе "Хочу с вами" */
.tariff-card.premium .pay-button {
  background-color: #FFE86D;
  color: #000000;
  font-weight: bold;
  border: 2px solid #FFE86D;
}

.tariff-card.premium .pay-button:hover {
  background-color: #FFE86D;
}

/* Привлекательная кнопка для полного курса "Хочу с вами" */
.tariff-card.premium .pay-button.full {
  background-color: #FFD700;
  color: #000000;
  font-weight: bold;
  border: 2px solid #FFD700;
  box-shadow: 0 0 10px #FFD700; /* Привлекательная тень */
}

.tariff-card.premium .pay-button.full:hover {
  background-color: #FFD700;
  color: #000000;
  border: 2px solid #FFD700;
  box-shadow: 0 0 15px #FFD700; /* Привлекательная тень */
}

.tariff-card.premium {
  background-color: #FFC107;
  box-shadow: 0 0 15px #FFD700;
  color: #000;
}

/* Желтая кнопка для тарифа "Хочу с вами" на месяц */
.tariff-card.premium .pay-button.month {
  background-color: #FFD700;
  color: #1A1A1D;
  border: 2px solid #FFD700;
}

.tariff-card.premium .pay-button.month:hover {
  box-shadow: 0 0 10px #FFD700;
}

.premium-btn {
  background-color: #FFC107;
}

/* Premium Highlight */
.premium ul li {
  color: #000000;
}

.tariff-card .bonus-box {
  background-color: #FFD700; /* Желтый фон для бонусов */
  color: #000000;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.bonus-box .icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.check-icon {
  min-width: 1.4rem; /* Устанавливаем фиксированную минимальную ширину для иконки */
  height: 1.4rem; /* Фиксированная высота для иконки */
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0; /* Отключает сжатие иконки */
}

.red-check {
  color: #B94A70; /* Красные галочки для тарифа "Я сам" */
  font-size: inherit;
}

.yellow-check {
  color: #FFD700; /* Желтые галочки для тарифа "Хочу с вами" */
  font-size: inherit;
}

.tariff-card.premium {
  background-color: #FFFBD9;
  color: #fff;
}

.premium-btn {
  background-color: #FFD700;
  color: #1A1A1D;
}

.pay-button.full {
  background-color: #F05454; /* Привлекательная кнопка для оплаты целиком */
  color: #fff;
}

.premium-highlight {
  border: 5px solid #FFD700; /* Подсветка вокруг премиум тарифа */
  border-radius: 15px;
  box-shadow: 0 0 15px #FFD700;
}

.offer-button {
  display: inline-block; /* Restrict width to content */
  text-align: center; /* Center the text within the link */
  margin: 30px auto 0; /* Center horizontally and add space above */
  padding: 10px 20px;
  background-color: #FFE6EB; /* Muted color */
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  text-decoration: none; /* Remove underline from the link */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offer-button:hover {
  background-color: rgba(229, 207, 211, 0.9) /* Slightly darker on hover */
}

/* Основной стиль для модального окна */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 20px;
  border: 5px solid #B94A70;
  width: 90%;
  max-width: 600px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-content input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: 2px solid #B94A70;
  background-color: #FFE6EB;
  color: #000000;
  font-size: 1.1rem;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.modal-content input:focus {
  border-color: #B94A70;
  box-shadow: 0 4px 10px #B94A70;
  outline: none;
}

.modal-content input::placeholder {
  color: #B94A70;
  opacity: 0.7;
}

/* Убираем голубой фон при автозаполнении */
.modal-content input:-webkit-autofill {
  background-color: #FFE6EB !important; /* Цвет фона как у обычного состояния */
  color: #000000 !important;
  -webkit-box-shadow: 0 0 0 30px #FFE6EB inset; /* Подстраиваем тень для совпадения с цветом фона */
  -webkit-text-fill-color: #000000 !important;
}

/* Стили для ошибок */
.error {
  color: #C3073F;
  font-size: 0.85rem;
  margin-top: 2px;
  text-align: center;
}

/* Кнопка закрытия модального окна */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 24px;
  color: #B94A70;
}

/* Кнопка оплаты */
.modal-content .pay-button {
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  background-color: #B94A70;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(195, 7, 63, 0.3);
}

.modal-content .pay-button:hover {
  background-color: #950740;
  box-shadow: 0 6px 16px rgba(149, 7, 64, 0.5);
}

.modal-content .pay-button:active {
  background-color: #6F2232;
  box-shadow: 0 2px 8px rgba(110, 34, 50, 0.5);
}

.policy-checkbox {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align for form */
  margin-top: 15px;
}

.policy-container {
  display: flex;
  align-items: center;
  padding: 0 16px; /* Equal padding on both sides */
  gap: 8px; /* Space between checkbox and text */
  border-radius: 8px; /* Optional: round corners for a balanced look */
}

.policy-container input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 2px solid #B94A70; /* Border color matching your theme */
  box-shadow: none; /* Remove any extra shadow */
  accent-color: #B94A70; /* Checked color */
}

.policy-container a:link,
.policy-container a:visited,
.policy-container a:hover,
.policy-container a:active {
  color: #B94A70;
  text-decoration: none; /* Убирает подчеркивание */
}

.policy-container a:hover {
  text-decoration: underline; /* Добавляет подчеркивание при наведении */
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.notification.success {
  background-color: #4caf50;
}

.notification.error {
  background-color: #f44336;
}

.course-start-date {
  font-size: 1.2rem;
  color: #FFD700; /* Золотой цвет для выделения */
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 215, 0, 0.2); /* Легкий фон для подсветки */
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block; /* Чтобы не занимать всю ширину */
  animation: glow 2s infinite alternate; /* Эффект мягкого свечения */
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  }
  to {
    box-shadow: 0 0 20px rgba(255, 215, 0, 1);
  }
}
